.App {

  min-width: 600px!important;
  min-height: 400px!important;
  max-width: 600px!important;
  max-height: 450px!important;
  padding: 2px;
  border-radius: 2px;

}

.footer{
  min-height: 100px;
}

.footer-button{
  margin: 10px 10px 0 0;
}