.App {

  min-width: 600px!important;
  min-height: 400px!important;
  max-width: 600px!important;
  max-height: 400px!important;
  padding: 2px;
  border-radius: 2px;
}

.footer{
  min-height: 100px;
}

.footer-button{
  margin: 10px 10px 0 0;
}

.navbar-brand {
    padding: 18px 20px;
    display: inline-block;
  }

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;

}